<main>
  <section id="home">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 text-center logo-container animated fadeInUp">
          <h1><%= image_tag("logo-fancy.png", height: '50') %></h1>
          <h2>Chico</h2>
          <h3>2019</h3>
          <%= image_tag("logo.png", height: '256') %>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
          <p class="lead animation" data-animation="fadeInUp" data-animation-delay="0.2" style="opacity: 1;">Chico's one and only hacker con. By hackers, for hackers. The Norcon Security Conference is a one-day event created by and intended for the community. This is the place where security professionals, hobbyists, and anyone interested in security
            can come to hang out. Norcon features lectures and interactive training aimed at varying skill levels. Everyone at Norcon is encouraged to participate and learn. We embrace those from diverse backgrounds, ages, and skill levels.</p>
        </div>
      </div>
    </div>

  </section>
  <section id="location">
    <div class="bg">
      <%= image_tag 'ifl.jpg' %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 about-location animation" data-animation="fadeInUp" data-animation-delay="0.2">
          <h2 class="animation" data-animation="fadeInUp" data-animation-delay="0.2"><i class="fas fa-map-marker-alt fa-fw"></i>Idea Fab Labs Chico</h2>
          <address>
            <a href="https://goo.gl/maps/niBDYvx1fCM2">603 Orange St, Chico CA 95926</a>
            </address>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3">
            Norcon will be held at Idea Fab Labs. Idea Fab Labs is a member-driven creation zone for makers of all levels to collaborate, innovate, and build a community.
          </p>

        </div>
      </div>
    </div>
  </section>
  <section id="special">
    <div class="bg-container">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2 class="title animation" data-animation="fadeInUp" data-animation-delay="0.2s">What makes Norcon so Special?</h2>
            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">The Northern California Tech Community is growing and the DefCon group of Northern California is hosting its Fourth  Annual Security Conference in Chico California. Over the past four years we have grown to over 300 attendees! This year is on track to be bigger and better than before. The local makerspace Idea Fab Labs will be hosting the day event featuring 20 minute and 50 minute presentations on relevant security research, tools and hacks. Talks can range from hacking and breaking new technologies to orienteering, philosophy, politics, etc. The audience consists of graduate level students, CIS/MIS students, IT professionals in the community, and business leaders.There will also be hands on “Villages” for attendees to learn a variety of technologies.</p>
            <p class="animation" data-animation="fadeInUp" data-animation-delay="0.5s">Stay for the After Party that will be held at the newly renovated El Rey Theater in downtown Chico hosting the After Party event. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg">
      <%= image_tag 'chico_collage_mobile.jpg' %>
    </div>
  </section>
  <section id="sponsors">
    <div class="bg-container">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2 text-center">
            <h2 class="title animation" data-animation="fadeInUp" data-animation-delay="0.2">A huge thank you to all of our Sponsors</h2>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfJbeS9i50qzS13POPa12So_uu1ATSt8WGuJEr4Po1nHUPhJA/viewform" class="btn btn-warning animation" data-animation="fadeInUp" data-animation-delay="0.3" target="_blank">BECOME A SPONSOR</a>
            <div id="gold-sponsors" class="list">
              <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.4"><em>Gold</em></h3>
              <div class="animation" data-animation="fadeInUp" data-animation-delay="0.5">
                <a target="_blank" href="https://chicostart.com/">
                  <%= image_tag "sponsors/chicostart_logo.png" %>
                </a>
                <a target="_blank" href="https://growtech.io/">
                  <%= image_tag "sponsors/growtech_logo.png" %>
                </a>
                <a target="_blank" href="https://chico.ideafablabs.com/">
                  <%= image_tag "sponsors/ifl_logo.png" %>
                </a>
                
              </div>
            </div>
            <div id="silver-sponsors" class="list">
              <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.6"><em>Silver</em></h3>
              <div class="animation" data-animation="fadeInUp" data-animation-delay="0.7">
                :-)
              </div>
            </div>
            <div id="bronze-sponsors" class="list">
              <h3 class="animation" data-animation="fadeInUp" data-animation-delay="0.8"><em>Bronze</em></h3>
              <div class="animation" data-animation="fadeInUp" data-animation-delay="0.9">
                :-)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>