<main>
  <section id="schedule" class="bg-dark">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 text-center logo-container animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <h1>Norcon</h1>
            <h2>Chico</h2>
            <h3>2019</h3>
            <%= image_tag("logo.png", height: '192') %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <h2 class="title animation" data-animation="fadeInUp" data-animation-delay="0.2s">Norcon 2019 Schedule</h2>
          <p class="animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            Below, you'll find all the talks and workshops happening at Idea Fab Labs on April 13, 2019. There's a lot of great stuff here, so start making your plans now! There will be a series of workshops held in the "Hands On Village" throughout the day including lock picking, electronic soldering and more.
          </p>
          
          <h3 class="sub-title animation" data-animation="fadeInUp" data-animation-delay="0.3s"><span>🎙️</span> Speakers</h3>
          <table class="nc-schedule animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <tr>
              <td>
                <div class="schedule-time">
                  <strong>9:00AM</strong>
                  <small>-9:50AM</small>
                </div>
              </td>
              <td>
                <div class="schedule-details">
                  <%= link_to "Rideshare OSINT - Car Based SE For Fun & Profit", speakers_path(anchor: "edward_miro"), class: "schedule-title" %>
                  <div class="track-circle"></div>
                  <h4 class="schedule-speaker">Edward Miro</h4>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="schedule-time">
                  <strong>10:00AM</strong>
                  <small>-10:50AM</small>
                </div>
              </td>
              <td>
                <div class="schedule-details">
                  <%= link_to "Taking the Bugs out of Your Bug Bounty Program", speakers_path(anchor: "josh_jay"), class: "schedule-title" %>
                  <div class="track-circle"></div>
                  <h4 class="schedule-speaker">Josh Jay</h4>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="schedule-time">
                  <strong>11:00AM</strong>
                  <small>-11:50AM</small>
                </div>
              </td>
              <td>
                <div class="schedule-details">
                  <%= link_to "Open Source Solutions for Election Securitys", speakers_path(anchor: "kent_hastings"), class: "schedule-title" %>
                  <div class="track-circle"></div>
                  <h4 class="schedule-speaker">Kent Hastings</h4>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="schedule-time">
                  <strong>12:00PM</strong>
                  <small>-12:50PM</small>
                </div>
              </td>
              <td>
                <div class="schedule-details">
                  <div class="schedule-special-container">
                    <span class="special-label">Lunch</span>
                    <div class="fa-track-circle">
                      <%= #icon('fas', 'utensils', class: 'fa-fw') %>
                      <i class="fas fa-utensils fa-fw"></i>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="schedule-time">
                  <strong>1:00PM</strong>
                  <small>-1:50PM</small>
                </div>
              </td>
              <td>
                <div class="schedule-details">
                  <%= link_to "Frute: a fuzzer/brute forcer", speakers_path(anchor: "zachary_minneker"), class: "schedule-title" %>
                  <div class="track-circle"></div>
                  <h4 class="schedule-speaker">Zachary Minneker</h4>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="schedule-time">
                  <strong>2:00PM</strong>
                  <small>-2:50PM</small>
                </div>
              </td>
              <td>
                <div class="schedule-details">
                  <%= link_to "Red Team Social Engineering: Tactics to Make You A Social Engineering SuperStar", speakers_path(anchor: "joshua_crumbaugh"), class: "schedule-title" %>
                  <div class="track-circle"></div>
                  <h4 class="schedule-speaker">Joshua Crumbaugh</h4>
                </div>
              </td>
            </tr>
          </table>

          <div class="party-container animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <h3 class="sub-title"><span>🎉</span> After Party</h3>
            <p class="party-time">
              9:00PM - 2:00AM
            </p>
            <p class="note">
              Norcon ticket holders receive automatic entry and a +1 invite
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </section>
</main>