<main>
  <section id="speakers" class="bg-dark">
    <div class="outer-container">
      <div class="container">
        <div class="row">
          <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 text-center logo-container animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <h1><%= image_tag("logo-fancy.png", height: '50') %></h1>
            <h2>Chico</h2>
            <h3>April 13, 2019</h3>
            <%= image_tag("logo.png", height: '192') %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
          <h2 class="title animation" data-animation="fadeInUp" data-animation-delay="0.2s">2019 Speakers</h2>
          <div class="speaker-signup animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <p>To become a speaker</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0-FFzRWvolozsN-uHE1NB1LLsbI936u9dxtFQ-qIYUt2-cQ/viewform" class="btn btn-warning" target="_blank">SIGN UP</a>
          </div>
          <div class="speaker">
            <div class="info">
              <h2 id="edward_miro">Edward Miro</h2>
              <em>Rideshare OSINT - Car Based SE For Fun & Profit</em>
              <p>Like many, I have used rideshare apps to make money between gigs and full time employment. With the right conversation techniques and strategic staging locations, this is a hugely untapped SE vector and information source for target intelligence. It's also an ideal laboratory for those looking to practice and implement social engineering basics and hone 'soft skills'. With over 500 passengers and a 5 star rating, I will share some of the discoveries I've made in this arena and the skills that work. </p>
            </div>
            <div>
              <%= image_tag "speakers/edward_miro.jpg", alt: "Edward Miro", width: '200' %>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2 id="kent_hastings">Kent Hastings</h2>
              <em>Open Source Solutions for Election Security</em>
              <p>After the "hanging chads" trouble in Florida during the Gore/Bush 2000 election, some suggested replacing paper and punchcards with online and touchscreen machines to automate voting and insure the integrity of the selection.  That solution is perhaps less accountable unless properly designed.</p>
            </div>
            <div>
              <%= image_tag "speakers/kent_hastings.jpg", alt: "Herbert Spencer", width: '200' %>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2 id="zachary_minneker">Zachary Minneker</h2>
              <em>Frute: a fuzzer/brute forcer</em>
              <p>In this talk, I'm going to go over the motivation for building a brute forcing tool, talk about languages and why I chose Go for frute, talk a little bit about Go itself just to sort of hammer home a point about that choice, and then talk about the development of the tool itself.  I'm going to talk about the challenges that came up during the development of the tool, how I overcame them, and how frute has worked out in competition use.</p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2 id="herbert_spencer"> Herbert Spencer, TraitWare</h2>
              <em>Reducing the Human Error During a Login</em>
              <p>TraitWare® ties the user to the login and eliminates usernames and passwords, which secures and simplifies the user's digital life. TraitWare’s product employs a simple and secure login solution, providing multi-factor login options based on the security desired. Competitive solutions remain layered on the existing username and password model. TraitWare eliminates usernames and passwords by using a secure confidential capture of a user’s unique digital traits and differentiates a user’s device to 1 in 300 billion. With TraitWare, credentials cannot be stolen, lost, or phished.</p>
            </div>
            <div>
              <%= image_tag "speakers/herbert_spencer.jpg", alt: "Herbert Spencer", width: '200' %>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2 id="lisa_stein">Lisa Stein, Coastal Business Systems</h2>
              <em>How SHARP products connect to an Active Directory to become a secure device</em>
              <p>THE MAP and SHARP security features on MFPs and how they benefit each company</p>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2 id="stephan_lonis">Stephan Lonis</h2>
              <em>Communications in a GRID Down Scenario and Why old technology standards prevail in the face of emerging technologies during a disaster. (Ham Radio Talk-Packet Radio)</em>
              <p>
                Among other threats faced everyday in the information security field California is unique in that in recent years we've been faced with devastating wildfires. Technology we depend on can be brought to a halt at a moments notice during a major disaster. In this talk I would like to go over packet radio from a ham radio perspective and how it is used in the face of a disaster when all other infrastructure is down. I will also touch on topics I have learned in my amateur radio journey in respect to RF signal analysis, antennas, software available and, new and exciting digital modes coming out.
              </p>
            </div>
            <div>
              <%= image_tag "speakers/stephan_lonis.jpg", alt: "Stephan Lonis", width: '200' %>
            </div>
          </div>
          <div class="speaker">
            <div class="info">
              <h2 id="aaron_williams">Aaron Williams</h2>
              <em>
                Old School Technical Surveillance & Countermeasures
              </em>
              <p>
                An overview of technical surveillance threat models, methods, technologies, and countermeasures.
              </p>
            </div>
          </div>
          <div class="speaker-signup animation" data-animation="fadeInUp" data-animation-delay="0.3s">
            <p>To become a speaker</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe0-FFzRWvolozsN-uHE1NB1LLsbI936u9dxtFQ-qIYUt2-cQ/viewform" class="btn btn-warning" target="_blank">SIGN UP</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>