<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Norcon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Norcon,Norcon Chico,Chico Hacker Convention,Chico Hacker Event">
    <meta name="description" content="Chico's one and only hacker convention. By hackers, for hackers.">
    <meta name="subject" content="Norcon Chico Hacker Convention">
    <meta name="copyright"content="Norcon">
    <meta name="language" content="EN">
    <meta name="topic" content="Hacker Convention">    
    <meta name="author" content="Dipen Chauhan, info@norcon.io">
    <meta name="designer" content="Dipen Chauhan">
    <meta name="reply-to" content="info@norcon.io">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">

    <!-- <meta property="og:title" content="The best site">
    <meta property="og:image" content="link_to_image">
    <meta property="og:description" content="description goes here"> -->

    <!-- <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png"> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="site-header" class="fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand animation" href="#home" data-animation="fadeInDown" data-animation-delay="0.2s">
          <div>
            <img src="https://res.cloudinary.com/overdrive/image/upload/v1548184892/images/norcon/logo.png" height="64" alt="Norcon">
          </div>
          <div class="d-flex flex-column justify-content-center ml-3">
            <h1>Norcon Chico</h1>
            <small>April 13, 2019</small>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link animation" href="#home" data-animation="fadeInDown" data-animation-delay="0.3s">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link animation" data-animation="fadeInDown" data-animation-delay="0.4s" href="#speakers">Speakers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link animation" data-animation="fadeInDown" data-animation-delay="0.5s" href="#schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link animation" data-animation="fadeInDown" data-animation-delay="0.6s" href="#location">Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link animation" data-animation="fadeInDown" data-animation-delay="0.7s" href="#sponsors">Sponsors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link animation" data-animation="fadeInDown" data-animation-delay="0.8s" href="#about">About</a>
            </li>
          </ul>
        </div>

      </nav>
    </header>
    <%= yield %>
    <footer class="page-footer bg-dark">
      <div class="info">
        <div>© 2019 Copyright Norcon Chico<a href="mailto:info@raidatech.com">info@norcon.io</a></div>
      </div>
      <div class="info">
        <div>Website Designed by <a href="https://github.com/overdrivemachines">Dipen Chauhan</a></div>

      </div>
      <a href="#home" id="back-to-top">
     
    <i class="fa fa-arrow-circle-up"></i>
     
    </a>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125974527-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125974527-2');
    </script>
  </body>
</html>
