<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Norcon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Norcon,Norcon Chico,Chico Hacker Convention,Chico Hacker Event">
    <meta name="description" content="Chico's one and only hacker convention. By hackers, for hackers.">
    <meta name="subject" content="Norcon Chico Hacker Convention">
    <meta name="copyright"content="Norcon">
    <meta name="language" content="EN">
    <meta name="topic" content="Hacker Convention">    
    <meta name="author" content="Dipen Chauhan, info@norcon.io">
    <meta name="designer" content="Dipen Chauhan">
    <meta name="reply-to" content="info@norcon.io">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">

    <!-- <meta property="og:title" content="The best site">
    <meta property="og:image" content="link_to_image">
    <meta property="og:description" content="description goes here"> -->

    <!-- <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png"> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="site-header" class="fixed-top">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand animated fadeInDown" href="#home">
          <div>
            <%= image_tag("logo.png", height: '64') %>
          </div>
          <div class="d-flex flex-column justify-content-center ml-3">
            <h1>Norcon Chico</h1>
            <small>April 13, 2019</small>
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-content">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link animated fadeInDown" href="index#home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle animated fadeInDown" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Speakers
            </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to "Current Speakers", speakers_index_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
                <%= link_to "2018 Speakers", speakers_2018_path, class: "dropdown-item" %>
                <%= link_to "2017 Speakers", speakers_2017_path, class: "dropdown-item" %>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link animated fadeInDown" href="/schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link animated fadeInDown" href="index#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link animated fadeInDown" href="index#location">Location</a>
            </li>
            <li class="nav-item">
              <a class="nav-link animated fadeInDown" href="index#sponsors">Sponsors</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div id="top"></div>
    <%= yield %>
    <footer id="site-footer" class="bg-dark">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-2 col-sm-12 text-center">
            <h1>Norcon Chico</h1>
            <small>April 13, 2019</small>
            <address>
              <a href="#">Idea Fab Labs</a>
              603 Orange St <br>
              Chico, CA 95926
            </address>
          </div>
          <div class="col-md-2 col-sm-12 text-center">
            <a href="index#home">
              <%= image_tag("logo.png", height: '92') %>
            </a>
          </div>
          <div class="text-center">
            <div class="info">
              <div>© 2019 Copyright Norcon <a href="mailto:info@raidatech.com">info@chicostart.com</a></div>
            </div>
            <nav>
              <a href="/">Home</a>
              <a href="speakers">Speakers</a>
              <a href="schedule">Schedule</a>
              <a href="index#location">Location</a>
              <a href="index#sponsors">Sponsors</a>
              <a href="mailto:info@chicostart.com">Contact</a>
            </nav>
            <div class="info">
              <div>Website Designed by <a href="https://github.com/overdrivemachines">Dipen Chauhan</a></div>
            </div>
          </div>
        </div>
      </div>
      <a href="#top" id="back-to-top">
        <i class="fa fa-arrow-circle-up"></i> 
      </a>
    </footer>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125974527-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125974527-2');
    </script>
  </body>
</html>
